<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({% static 'img/bg-2.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="post-heading">
                    <h1>{{ object.title }}</h1>
                    <span class="meta" style="font-style: normal;">
                        {{ object.created_at }}
                    </span>
                    <h2 class="subheading">{{ object.category }}</h2>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                {{ object.text |linebreaksbr | urlize}}
            </div>
        </div>
    </div>
</article>

<hr>
{% endblock %}