<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({% static 'img/bg-1.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Upauper63 Blog</h1>
                    <span class="subheading">WEB系エンジニアしてます。よろしくお願いします。</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in object_list %}
            <div class="post-preview">
                <a href="{% url 'blog:detail' post.pk %}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                </a>
                <p class="post-meta" style="font-style: normal;">
                    {{ post.created_at }}
                </p>
            </div>
            <hr>
            {% endfor %}
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>

<hr>
{% endblock %}