<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({% static 'img/bg-1.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Upauper63 Blog</h1>
                    <span class="subheading">WEB系エンジニアしてます。よろしくお願いします。</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="github-link text-center">
        <div>
            <a href="https://github.com/Upauper63" target="_blank">
                <img src="https://grass-graph.moshimo.works/images/Upauper63.png">
            </a>
        </div>
        <div>
            <i class="fab fa-github-square"></i><a href="https://github.com/Upauper63" target="_blank">Upauper63</a>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in object_list %}
            <div class="post-preview">
                <a href="{% url 'blog:detail' post.pk %}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                </a>
                <p class="post-meta" style="font-style: normal;">
                    {{ post.created_at }}
                </p>
            </div>
            <hr>
            {% endfor %}
            <ul class="pagination float-right">
                <!-- 前へ -->
                {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}"><span
                            class="page-link">前へ</span></a></li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                {% else %}
                <li class="page-item"><a href="?page={{ i }}"><span class="page-link">{{ i }}</span></a></li>
                {% endif %}
                {% endfor %}

                <!-- 次へ -->
                {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}"><span
                            class="page-link">次へ</span></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<hr>
{% endblock %}